SECRET_KEY='YOUR_SECRET_KEY'
DEBUG=False
ALLOWED_HOSTS='host1,host2,host3'
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
DB_HOST=db
DB_PORT=5432